<p>DETAIL !!!</p>

@if (assignmentTransmis) {
<h2>Detail de l'assignment: </h2>
}

@if (assignmentTransmis) {
<mat-card>
    <mat-card-content>
        <mat-card-title> {{assignmentTransmis.nom}}</mat-card-title>
        <mat-card-subtitle>rendu le: {{assignmentTransmis.dateRendu | date}}</mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions class="container">
        @if (!assignmentTransmis.rendu){
        <mat-checkbox (click)="onAssignmentRendu()">Rendu</mat-checkbox>
        }
        <!-- <nav><a [routerLink]="['/assignment', assignmentTransmis.id, 'edit']">-->
        <nav><a routerLink="edit">
                <button mat-stroked-button color="primary" (click)="onClickEdit()" [disabled]="!isAdmin()">
                    Edit
                </button>
            </a></nav>
        <button mat-raised-button color="warn" (click)="onDelete()">SUPPRIMER</button>

    </mat-card-actions>
</mat-card>
}