<div class="container">
    <div class="btnAjout">
        <a routerLink="/add">
            <button mat-flat-button color="accent">Ajouter
                Assignment</button>
        </a>
    </div>
    <h1>{{titre}}</h1>
    <mat-divider></mat-divider>
    <mat-list>
        @for(assignment of assignments; track assignment.nom) {
        <mat-list-item>
            <nav>
                <a routerLink="/assignment/{{assignment.id}}">
                    <div [ngStyle]="{'color': assignment.rendu ? 'green' : 'red'}">
                        <h3 matLine>{{assignment.nom}}, id: {{assignment.id}}</h3>
                        <p matLine>rendu: {{assignment.rendu}}</p>
                        <p matListItemTitle>{{assignment.dateRendu | date }}</p>
                        <p matListItemLine>{{assignment.nom}} rendu: {{ assignment.rendu}}</p>
                    </div>
                </a>
            </nav>
        </mat-list-item>
        <mat-divider></mat-divider>
        }
    </mat-list>
    <!--
    <@if (assignmentSelectionne) {
        <h3>Assignment Cliqué :{{assignmentSelectionne.nom}}</h3>
    }
    -->
</div>