table, tr,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
}

.rendu{
    color: green;
}

.nonrendu{
    color: red;
}

.container{
    display: flex;
    flex-direction: column;
}

.ajouterBtn{
    align-self:flex-end;
}