table, tr,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
}

.rendu{
    color: green;
}

.nonrendu{
    color: red;
}
.form{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
